core-extensions/SabberStoneHsReplay/ref/hsreplay.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
 SabberStone, Hearthstone Simulator in C# .NET Core
 Copyright (C) 2017-2019 SabberStone Team, darkfriend77 & rnilva

 SabberStone is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as
 published by the Free Software Foundation, either version 3 of the
 License.
 SabberStone is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Affero General Public License for more details.
-->

<!--W3C Schema generated by XMLSpy v2017 rel. 3 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="HSReplay">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Game" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="build" type="xs:NMTOKEN"/>
			<xs:attribute name="version" type="xs:NMTOKEN" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Game">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Block"/>
				<xs:element ref="ChangeEntity"/>
				<xs:element ref="Choices"/>
				<xs:element ref="ChosenEntities"/>
				<xs:element ref="FullEntity"/>
				<xs:element ref="GameEntity"/>
				<xs:element ref="HideEntity"/>
				<xs:element ref="Options"/>
				<xs:element ref="Player"/>
				<xs:element ref="SendChoices"/>
				<xs:element ref="SendOption"/>
				<xs:element ref="ShowEntity"/>
				<xs:element ref="TagChange"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:NMTOKEN"/>
			<xs:attribute name="type" type="xs:NMTOKEN"/>
			<xs:attribute name="ts" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="GameEntity">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Tag" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="ts" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Player">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Tag"/>
				<xs:element ref="Deck"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="playerID" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="name"/>
			<xs:attribute name="accountHi" type="xs:NMTOKEN"/>
			<xs:attribute name="accountLo" type="xs:NMTOKEN"/>
			<xs:attribute name="rank" type="xs:NMTOKEN" default="-1"/>
			<xs:attribute name="legendRank" type="xs:NMTOKEN" default="0"/>
			<xs:attribute name="cardback" type="xs:NMTOKEN" default="0"/>
			<xs:attribute name="ts" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Block">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Block"/>
				<xs:element ref="ChangeEntity"/>
				<xs:element ref="FullEntity"/>
				<xs:element ref="HideEntity"/>
				<xs:element ref="TagChange"/>
				<xs:element ref="MetaData"/>
				<xs:element ref="ShowEntity"/>
				<xs:element ref="Choices"/>
				<xs:element ref="ChosenEntities"/>
				<xs:element ref="SendChoices"/>
			</xs:choice>
			<xs:attribute name="entity" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="index" type="xs:NMTOKEN" default="-1"/>
			<xs:attribute name="target" type="xs:NMTOKEN" default="0"/>
			<xs:attribute name="type" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="ts" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Tag">
		<xs:complexType>
			<xs:attribute name="tag" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="value" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="ts" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TagChange">
		<xs:complexType>
			<xs:attribute name="entity" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="tag" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="value" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="ts" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="FullEntity">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Tag" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="cardID" type="xs:NMTOKEN"/>
			<xs:attribute name="id" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="ts" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ShowEntity">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Tag" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="cardID" type="xs:NMTOKEN"/>
			<xs:attribute name="entity" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="ts" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="HideEntity">
		<xs:complexType>
			<xs:attribute name="entity" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="zone" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="ts" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ChangeEntity">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Tag" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="cardID" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="entity" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="ts" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MetaData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Info" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="meta" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="data" type="xs:NMTOKEN" default="0"/>
			<xs:attribute name="info" type="xs:NMTOKEN"/>
			<xs:attribute name="ts" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Info">
		<xs:complexType>
			<xs:attribute name="index" type="xs:NMTOKEN"/>
			<xs:attribute name="entity" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="ts" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Choices">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Choice" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="entity" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="taskList" type="xs:NMTOKEN"/>
			<xs:attribute name="type" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="min" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="max" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="source" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="ts" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ChosenEntities">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Choice" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="entity" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="ts" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SendChoices">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Choice" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="type" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="ts" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Choice">
		<xs:complexType>
			<xs:attribute name="entity" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="index" type="xs:NMTOKEN"/>
			<xs:attribute name="ts" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Options">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Option" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="ts" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Option">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="SubOption" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Target" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:attribute name="entity" type="xs:NMTOKEN"/>
			<xs:attribute name="index" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="type" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="error" type="xs:NMTOKEN"/>
			<xs:attribute name="errorParam" type="xs:NMTOKEN"/>
			<xs:attribute name="ts" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SubOption">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Target" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="entity" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="index" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="error" type="xs:NMTOKEN"/>
			<xs:attribute name="errorParam" type="xs:NMTOKEN"/>
			<xs:attribute name="ts" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Target">
		<xs:complexType>
			<xs:attribute name="entity" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="index" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="error" type="xs:NMTOKEN"/>
			<xs:attribute name="errorParam" type="xs:NMTOKEN"/>
			<xs:attribute name="ts" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SendOption">
		<xs:complexType>
			<xs:attribute name="option" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="subOption" type="xs:NMTOKEN" default="-1"/>
			<xs:attribute name="position" type="xs:NMTOKEN" default="0"/>
			<xs:attribute name="target" type="xs:NMTOKEN"/>
			<xs:attribute name="ts" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Deck">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Card" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:NMTOKEN" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Card">
		<xs:complexType>
			<xs:attribute name="id" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="count" type="xs:NMTOKEN" default="1"/>
			<xs:attribute name="premium" type="xs:NMTOKEN" default="0"/>
		</xs:complexType>
	</xs:element>
</xs:schema>